
@font-face{
	font-family: 'Open Sans Light';
	src: url(../fonts/OpenSans-Light.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face{
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

html{
	font-size: 62.5%;
}

body{
	font-family: sans-serif;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
	background-color: rgb(251,251,251);
	color: rgb(0, 0, 0);
}

header{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 5;
}

header > *{
	padding-left: 3rem !important;
}

/* user identification */

div.id {
	color: rgb(255,255,255);
	margin: 1.3rem 5rem 0 0;
	float: right;
}

div.id code {
	color: rgb(240,245,0);
	font-size: 1.6rem;
}

div.id code > a {
	font: inherit;
	color: inherit;
}

div.id a.logout {
	font-size: 1.1rem;
	margin-left: 1rem;
	color: rgb(255,255,255);
	border: 0.1rem solid rgb(255,255,255);
	padding: 0.4rem 1rem;
}

div.id a.logout:hover {
	text-decoration: none;
	color: rgb(120,240,255);
	border: 0.1rem solid rgb(120,240,255);
}

/* title and logo */

h1{
	font-family: 'Open Sans Light', Helvetica, Arial, sans-serif;
	font-size: 2rem;
	margin: 0;
	padding: 0.4rem 0 0.2rem 1.5rem !important;
	background-color: rgb(27, 95, 161);
	color: rgb(255, 255, 255);
	min-height: 36px;
}

h1 > span:first-child{
	padding-right: 0.5rem;
}

img.logo{
	vertical-align: middle;
}

span.smart_hd {
	color: rgb(127,255,0);
	font-style: italic;
}

/* page content */

main,
footer{
	display: block;
	margin: 0 0.3rem;
}

main{
	font-size: 1.6rem;
	padding-bottom: 2rem;
	background-color: rgb(251, 251, 251);
}

body.page main{
	padding: 0 2rem 2rem 2rem;
	margin-top: 6.8rem;
}

main > * {
	line-height: 2.2rem;
}

main > section,
main > form > section {
	max-width: 80rem;
}


footer{
	font-weight: bold;
	font-size: 90%;
	text-align: center;
	background-color: rgb(245, 245, 245);
	padding: 0.5rem 1rem;
	margin-top: 0.3rem;
}

footer img{
	padding-left: 1rem;
	vertical-align: middle;
}


/* headings */

h2{
	font-family: Raleway;
	font-size: 2.4rem;
	font-weight: normal;
	color: rgb(0, 0, 180);
	margin-top: 4rem;
}

h3{
	color: rgb(0, 0, 90);
	font-weight: normal;
	font-size: 1.6rem;
}

body.page h2{
	margin-top: 0;
	padding-top: 2rem;
}

body.page h3{
	font-size: 1.8rem;
	border-left: 0.4rem solid blue;
	padding-left: 0.5rem;
	margin-top: 5rem;
}

.no-title{
	margin-top: 4rem;
	font-size: 1.8rem;
}

/* links */

a{
	color: rgb(0, 0, 220);
	text-decoration: none;
}

a:hover{
	color: rgb(238, 0, 0);
	text-decoration: underline;
}

a:not([href]):hover {
	text-decoration: none;
	color: rgb(120,120,120);
}

a:not([href]) {
	color: rgb(120,120,120);
}

/* menubar */

nav.menubar {
	margin: 0 0 0 -1rem;
	padding: 0.5rem 0.5rem 0.5rem 2rem;
	border-bottom: 0.1rem solid rgb(0, 0, 0);
	background-color: rgb(245, 245, 245);
}

nav.menubar > a {
	font-size: 90%;
	padding-right: 2rem;
}

nav.menubar > a:not([href]) {
	color: rgb(60, 60, 60);
	text-decoration: none;
}

a#save-button,
a#close-button,
a#validate-button {
	font-size: 1.1rem !important;
	float: right;
	background-color: rgb(248,248,255);
	color: rgb(0,0,220);
	border: 0.1rem solid rgb(0,0,220);
	padding: 0.2rem 1.6rem !important;
	margin-top: -0.2rem;
	margin-right: 4.5rem;
}

a#save-button,
a#validate-button {
	margin-right: 1rem;
}

a#save-button:hover,
a#close-button:hover,
a#validate-button:hover {
	color: rgb(220,0,0);
	border-color: rgb(220,0,0);
	text-decoration: none;
}

/* report loading */

#local-load {
	text-align: left;
	font-size: 90%;
	margin-left: 0.4rem;
}

a#ace-review {
	float: right;
	margin-top: -2.5rem;
	font-size: 85%;
}

/* conformance guidelines */

section.guideline{
	margin-left: 3rem;
}

section.a,
section.aa,
section.aaa,
section.epub{
	margin-left: 1rem;
	margin-top: 3rem;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.2rem 0 gray;
	border-left: 0.5rem solid rgb(255,255,120);
	background-color: rgb(255,255,250);
}

section.aaa{
	display: none;
}

span.a-label,
span.aa-label,
span.aaa-label,
span.epub-label {
	padding: 0rem 0.5rem;
	margin-left: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: rgb(0,0,180);
	border: 0.1rem solid rgb(180,180,180);
	float: right;
	margin-top: -0.5rem;
}

section.a > h3,
section.aa > h3,
section.aaa > h3,
section.epub > h3,
section.warning > h3 {
	padding-top: 0;
	margin-top: 0;
}

p.sc-note{
	font-style: italic;
	text-indent: -4rem;
	margin: 1rem 2rem 2rem 4.5rem;
}

div.buttons{
	padding: 4rem 1rem 2rem 1rem;
}

input.button_hlt {
	font-weight: bold;
	padding: 0.6rem 0.2rem;
	width: 10rem;
	border-style: ridge;
	border-color: rgb(161, 161, 161);
	background-color: rgb(239,239,239);
	color: rgb(0,0,0);
	border-radius: 0.6rem;
}

input.button_hlt:hover {
	box-shadow: 0 0 1rem 0 green;
}

input.preview {
	float: left;
	margin-right: 1.5rem;
}

input[type = "checkbox"]{
	cursor: pointer;
}

label.show-xtra{
	display: block;
	margin: 0.5rem 0;
}

p.superseded-aa{
	display: none;
}

div.link {
	margin-top: 3rem;
}

details + details {
	margin-top: 1rem;
}

hr {
	margin: 2rem auto;
	border-color: rgb(240,245,255);
}

/* conformance results */

div.conformance-result {
	padding: 1rem 0 1rem 1.5rem;
	margin-bottom: 1rem;
}

span#conformance-result-status {
	padding-left: 4rem;
}


/* lists */

ul{
	list-style-type: square;
	margin-top: 0.5rem;
}

li{
	margin-top: 0.7rem;
}


/* tables */

td.option {
	min-width: 10rem;
}

td.center {
	text-align: center;
}


p.instr {
	margin-top: 4rem;
}

section.warning {
	font-size: 90%;
	margin-left: 1rem;
	margin-top: 3rem;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem 0 gray;
	border: 0.1rem solid red;
	background-color: rgb(255,250,245);
}

section.warning h3 {
	color: rgb(190,0,0);
	font-weight: bold;
}

section.warning,
li.manifest,
li.bindings,
li.epub-switch,
li.epub-trigger {
	display: none;
}

/* fieldsets */

fieldset,
div.conformance-result,
div.onix {
	border: none;
	border-left: 0.6rem double cornflowerblue;
	background-color: rgb(240,248,255);
	border-radius: 0.5rem;
	box-shadow: 0 0 0.2rem 0 grey;
}

fieldset fieldset {
	box-shadow: none !important;
	border: none !important;
	background-color: inherit !important;
}

fieldset fieldset > legend {
	padding-top: 0 !important;
}

legend + fieldset {
	margin-top: 0.5em;
}

legend{
	color: rgb(0, 0, 90);
	font-weight: bold;
	padding-top: 4rem;
}

fieldset > .note{
	font-size: 1.1rem;
	border: none !important;
	margin: 1rem 0 0 0 !important;
	padding: 0 !important;
}

fieldset.flat {
	border: none;
	margin: 0;
	padding: 0;
}

fieldset.flat > legend {
	font-weight: normal;
	float: left;
	display: inline !important;
	margin: 0;
	padding: 0;
}

fieldset.status {
	box-shadow: none !important;
	background-color: inherit !important;
}

fieldset.status > label {
	margin-left: 2rem; 
}

section#verification > div.form-data > fieldset,
div.form-data > fieldset,
div.form-data > label {
	margin: 1rem;
}

section#verification > div.form-data > fieldset > legend {
	width: 18rem;
}

section#verification > div.form-data > fieldset > label {
	width: 7rem;
}

div.form-data {
	border-left: 0.6rem double cornflowerblue;
	background-color: rgb(240,248,255);
	padding: 0.3rem 0 0.3rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.2rem 0 grey;
}

div.form-data > fieldset {
	box-shadow: none !important;
	border-left: none;
}

div.form-data > fieldset > legend {
	padding-top: 0 !important;
}

#conformance div.form-data > fieldset > legend {
	width: 20rem !important;
}

#conformance div.form-data > fieldset > label {
	width: 10rem;
	display: inline-block;
}

details#view-options {
	margin-top: 2rem;
}

details#view-options > fieldset {
	margin: 1rem;
	padding: 1rem;
}

details#view-options > fieldset > legend {
	width: 25rem;
}

h2 + fieldset,
p + fieldset {
	margin-top: -2.5rem;
}

/* discovery metadata */

section#discovery div.error{
	font-style: italic;
	padding: 0.5rem;
	display: none;
}

section#discovery div.cols {
	column-width: 20rem;
	column-fill: balance;
}

section#discovery label{
	display: inline-block;
	width: 20rem;
}

section#discovery input#gen{
	margin-left: 1rem;
}

div.failure,
div.info{
	display: none;
}

div.failure{
	margin-top: 1.5rem;
}

/* notes */

div.note,
div.caution{
	padding: 0 0.8rem;
	margin-top: 1rem;
	border: 0.1rem solid rgb(0, 180, 0);
	border-radius: 1rem;
	width: 80%;
	margin-left: 5%;
}

div.caution{
	border-color: rgb(180, 0, 0);
}

div.note > p{
	font-size: 95%;
	text-indent: -3.9rem;
	margin-left: 4rem;
}

div.caution > p{
	font-size: 95%;
	text-indent: -6rem;
	margin-left: 6rem;
}

img.note-close{
	position: relative;
	top: 0.2rem;
	right: -0.5rem;
	float: right;
}

p.small{
	font-size: 1.2rem;
}

div.instr {
	font-size: 85%;
	margin-bottom: 0.8rem;
}

/* config options */

section#config{
	z-index: 9;
}

details#options{
	max-width: 65rem;
	margin-top: 1rem;
	padding: 0.5rem;
}

details#options > summary{
	margin-bottom: 1rem;
	color: rgb(0, 0, 90);
}

details#options fieldset{
	margin-top: 0.7rem;
	padding-top: 0;
	border: none;
}

details#options fieldset > legend{
	font-weight: normal
}

details#options span.label{
	font-size: 95%;
	margin-left: 1.5rem;
}

section#config small{
	font-style: italic;
}

textarea{
	width: 90%;
}

label.data > textarea{
	width: 39.8rem;
	display: inline-block;
}

div.combo {
	margin: 1rem;
}

/* n/a notes */

p.img,
p.av,
p.forms{
	font-size: 90%;
	font-weight: bold;
	margin-left: 3rem;
}

/* title inputs */

label.data{
	display: block;
	margin-top: 0.8rem;
}

label.data > span,
div.data > span,
div.combo > label:first-child span {
	display: inline-block;
	width: 20rem;
	vertical-align: top;
}

label.data > input[type = 'text'],
div.combo > label > input[type='text'] {
	width: 40rem;
}

div.data{
	margin: 3rem 0 2rem 0;
}

div.data > div{
	margin-bottom: 0.8rem;
}


/* misc formatting */

span.hlt-first {
	display:inline-block;
}

span.hlt-first::first-letter {
	color: rgb(11,84,168);
	font-weight: bold;
}


/* optimizations for phone screens in portrait orientation */
@media only screen
 and (max-device-width : 480px)
 and (orientation : portrait){

	label.data > input{
		width: 100%;
	}

}

/* faq */

nav#faq{
	margin-bottom: 3rem;
}

nav#faq ol{
	list-style-type: none;
	margin-left: 0;
	padding-left: 1.5rem;
}

nav#faq > ol{
	padding-left: 0;
}

div.faq-title{
	font-size: 1.5rem;
	color: rgb(0, 0, 160);
	margin-top: 1.2rem;
}

dt{
	font-weight: bold;
	margin-top: 3rem;
}

/* ed notes (temp) */

.todo{
	background-color: rgb(255, 255, 230);
}

/* error pane */

body.error-pane-padding {
	margin-bottom: 13rem;
}

section#error-pane{
	background-color: rgb(50, 50, 50);
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	display: none;
}

section#error-pane > h2{
	color: rgb(255, 255, 255);
	background-color: inherit;
	font-size: 1.4rem;
	margin: 0;
	padding: 0.4rem 0.2rem 0.2rem 0.2rem;
}

section#error-pane img.error-close{
	position: relative;
	top: 0rem;
	right: 0rem;
	float: right;
}

section#error-pane div.scroll{
	width: 100%;
	height: 10rem;
	background-color: rgb(255, 255, 255);
	overflow: scroll;
}

section#error-pane ul{
	padding-left: 2rem;
}

section#error-pane a{
	cursor: pointer;
}

/* config dialog */

.ui-widget-header{
	background-color: rgb(232, 244, 248);
}

label.block{
	display: block;
	margin-top: 0.3rem;
}

label.pad-left{
	margin-left: 2.4rem;
}


/* status colours */

.err{
	background-color: rgb(255, 245, 245) !important;
	border-color: rgb(255, 200, 200) !important;
}
.na{
	background-color: rgb(240, 240, 240) !important;
	border-color: rgb(200, 200, 200) !important;
}
.pass{
	background-color: rgb(245, 255, 245) !important;
	border-color: rgb(150, 255, 150) !important;
}
.warn{
	background-color: rgb(255, 255, 245) !important;
	border-color: rgb(255, 255, 180) !important;
}

.alert {
	background-color: rgb(255, 246, 232) !important;
	border-color: rgb(255,160,17) !important;
}

.na .sc-body {
	display: none;
}

.pass .sc-body,
.err .sc-body,
.unverified .sc-body {
	display: block;
}


/* manage options */
#save-eval label,
#load-eval label {
	display: block;
}


/* page tocs */

nav[role = "doc-toc"]{
	width: 35rem;
}

nav[role = "doc-toc"] > h3{
	font-size: 1.4rem;
	font-weight: bold;
	color: rgb(0, 0, 0);
	padding: 0;
	margin: 0;
	border-left: none;
}

nav[role = "doc-toc"] ol{
	list-style-type: disc;
}


/* figures */

figcaption{
	font-size: 1.3rem;
	font-style: italic;
	max-width: 50rem;
	margin-bottom: 1rem;
}


/* onix metadata fields */

fieldset.onix > label {
	display: block;
	margin-top: 2rem;
}

div.onix {
	margin-top: 2rem;
	padding: 1rem;
	font-weight: bold
}

div.onix input[type='text'],
div.onix textarea {
	display: block;
	width: 65rem;
	margin-top: 1rem;
}


/* pub info fieldsets */

div.data > fieldset.flat > legend {
	color: rgb(0,0,0) !important;
	width: 20rem;
}

#save fieldset,
#confirm fieldset {
    background-color: inherit !important;
    border-left: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-top: -1rem !important;
}

/* management */

h3.welcome {
	font-size: 2rem;
	padding-left: 0.5rem;
}

h3.welcome:before {
	content: 'ยง  ';
	font-weight: bold;
}

section#load {
	margin-top: 3rem;
}

section#history {
	margin-top: 5rem;
}

p.license {
	font-size: 1.4rem;
	font-style: italic;
	margin-left: 2rem;
}

input[type='image'] {
	padding-left: 0.3rem;
}


/* display properties */


.visible {
	display: block !important;
}

.hidden {
	display: none !important;
}

.listitem {
	display: list-item !important; 
}


/* initial hide alt statements for checks */

*[data-alt] {
	font-style: italic;
	border: 0.1rem solid green;
	background-color: rgb(240,255,245);
	padding: 0.4rem;
	border-radius: 0.4rem;
	display: none;
}


/* fieldset/details hacks for IE 10+ */

details {
	display: block;
}

_:-ms-lang(x), _:-webkit-full-screen, legend {
		padding-top: 0rem;
	}
	
_:-ms-lang(x), _:-webkit-full-screen, fieldset {
		margin-top: 2rem;
	}
	
_:-ms-lang(x), _:-webkit-full-screen, h2 + fieldset,
_:-ms-lang(x), _:-webkit-full-screen, p + fieldset {
		margin-top: 0rem;
	}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
	legend {
		padding-top: 0rem;
	}
	
	fieldset {
		margin-top: 2rem;
	}
	
	h2 + fieldset,
	p + fieldset {
		margin-top: 0rem;
	}
}

/* optimizations for phone screens */
@media only screen
 and (max-device-width : 480px)
 and (orientation : portrait){

	h1{
		font-size: 1.2rem;
	}

	main.js-tabs{
		margin-top: 9.5rem;
	}

	.js-tabcontent > h2{
		border-top: 0.2rem solid black;
		margin-top: 5rem;
		padding-top: 1rem;
	}

	fieldset.status span{
		display: block;
	}

	section.a,
	section.aa,
	section.aaa,
	section.epub{
		margin-left: 0.2rem;
	}
}

@media only screen
 and (max-device-width : 640px)
 and (orientation : landscape){
	section.a,
	section.aa,
	section.aaa,
	section.epub{
		margin-left: 0.2rem;
	}
}