
h1.ace_login_hd {
	font-size: 1.7rem;
	color: rgb(255,255,255);
	margin-top: 0.5rem;
}

h1.ace_login_hd > span:first-child{
	padding-right: 0.5rem;
}

img.logo{
	vertical-align: middle;
	margin-top: -3px;
}

span.smart_hd {
	color: rgb(127,255,255);
	font-style: italic;
}

nav.navbar {
    background-color: rgb(27,95,161) !important;
}

div#agreement {
    width: 100%;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #dce4ec;
    border-radius: 4px;
}

div.col-sm-12 {
	margin-top: 2rem;
}
