
header {
	position: relative !important;
	left: auto !important;
	top: auto !important;
	right: auto !important;
}

body.page > main {
	margin-top: 1rem !important;
	padding-bottom: 0;
}

footer > * {
	max-width: 80rem;
}

section >  section > * {
	margin-left: 2rem;
}

section >  section > h3 {
	margin-left: inherit !important;
	padding-left: 1rem !important;
}

/* prev/next nav */

nav.user-links {
	max-width: 80rem;
	padding: 3rem 0 4rem 0;
	margin-left: 3rem;
}

div.prev-link {
	float: left;
}

div.prev-link > a:before {
	content: 'Previous:\00a0\00a0';
}

div.next-link {
	float: right;
}

div.next-link > a:before {
	content: 'Next:\00a0\00a0';
}

div.next-link a,
div.prev-link a {
	text-decoration: none;
	border-bottom: 0.1rem dotted rgb(40,120,255);
}

div.next-link a:hover,
div.prev-link a:hover {
	border-bottom: 0.1rem dotted rgb(255,120,40);
}

div.note > p,
div.caution > p {
	font-size: 85%;
}

figure {
	margin-left: 6rem !important;
}

figcaption {
	margin: auto;
}

nav[role="doc-toc"] > ol {
	list-style-type: decimal !important;
}

/* menubar */

nav.menubar {
	margin: 0 0 0 -1rem;
	padding: 0.5rem 0.5rem 0.5rem 2rem;
	border-bottom: 0.1rem solid lightgrey;
	background-color: rgb(27,95,161);
}

nav.menubar > a {
	font-size: 90%;
	padding-right: 2rem;
	color: rgb(255,255,255);
}

nav.menubar > a:not([href]) {
	color: rgb(60, 60, 60);
	text-decoration: none;
}
